# ANALYSIS AND RESULTS

In [1]:
from account import account_data
from report import read_reports
from pathlib import Path
import pandas as pd
import numpy as np
import os

In [2]:
#Root Path to the files in folders

account_folder = Path("bulk-reports/accounts")
report_folder = Path("bulk-reports/reports")

In [3]:
# calling the account data functoin to process the files and retrieve specific data
#output is a list of dictionaries
account_summary = account_data(account_folder)

#converting the list of dictionaries into a pandas Dataframe
account_df = pd.DataFrame(account_summary)
account_df.head()

Processing file: bulk-reports\accounts\0110c686-c6a0-4250-8dc5-832256a24f3d.json
Processed: 0110c686-c6a0-4250-8dc5-832256a24f3d.json
Processing file: bulk-reports\accounts\02fb16d1-1937-4e4e-b01c-624f0930f49f.json
Processed: 02fb16d1-1937-4e4e-b01c-624f0930f49f.json
Processing file: bulk-reports\accounts\04bb70b2-65d8-4b37-af87-507d58025153.json
Processed: 04bb70b2-65d8-4b37-af87-507d58025153.json
Processing file: bulk-reports\accounts\086abd29-f9e3-4bfd-b7de-4a5795f5a4b8.json
Processed: 086abd29-f9e3-4bfd-b7de-4a5795f5a4b8.json
Processing file: bulk-reports\accounts\0f331b0b-f1a2-4e5d-8284-33ca9bf41254.json
Processed: 0f331b0b-f1a2-4e5d-8284-33ca9bf41254.json
Processing file: bulk-reports\accounts\1bc25bc6-9a63-4ea7-ab83-fb764399da7b.json
Processed: 1bc25bc6-9a63-4ea7-ab83-fb764399da7b.json
Processing file: bulk-reports\accounts\1c609037-24c4-4d16-b0e6-db030039234d.json
Processed: 1c609037-24c4-4d16-b0e6-db030039234d.json
Processing file: bulk-reports\accounts\336b9f63-aa33-4a4c-886e-3f7211ae9137.json
Processed: 336b9f63-aa33-4a4c-886e-3f7211ae9137.json
Processing file: bulk-reports\accounts\3da8c835-1ee2-41df-8d92-60c8f638ea5a.json
Processed: 3da8c835-1ee2-41df-8d92-60c8f638ea5a.json
Processing file: bulk-reports\accounts\3dc87c55-fce3-4a36-b3fd-f96d79710cca.json
Processed: 3dc87c55-fce3-4a36-b3fd-f96d79710cca.json
Processing file: bulk-reports\accounts\3de02e8b-c922-4aae-8740-a4f893a0d2c5.json
Processed: 3de02e8b-c922-4aae-8740-a4f893a0d2c5.json
Processing file: bulk-reports\accounts\3ed68888-5195-4afc-b8b5-5f099bfd39b8.json
Processed: 3ed68888-5195-4afc-b8b5-5f099bfd39b8.json
Processing file: bulk-reports\accounts\405e0215-a0db-4425-8f6c-2df5a0a003df.json
Processed: 405e0215-a0db-4425-8f6c-2df5a0a003df.json
Processing file: bulk-reports\accounts\4a8dcc6f-2ccf-4275-94b8-33b09ab05588.json
Processed: 4a8dcc6f-2ccf-4275-94b8-33b09ab05588.json
Processing file: bulk-reports\accounts\4d14f02f-836e-4fad-9889-cf0eb67e7709.json
Processed: 4d14f02f-836e-4fad-9889-cf0eb67e7709.json
Processing file: bulk-reports\accounts\4db76b39-e949-472b-a653-dbd80ffc0eac.json
Processed: 4db76b39-e949-472b-a653-dbd80ffc0eac.json
Processing file: bulk-reports\accounts\4e161721-d29f-4e2c-83f1-24d914e4d3b1.json
Processed: 4e161721-d29f-4e2c-83f1-24d914e4d3b1.json
Processing file: bulk-reports\accounts\59ff3dc6-a524-4d4e-87fc-b98604a59b94.json
Processed: 59ff3dc6-a524-4d4e-87fc-b98604a59b94.json
Processing file: bulk-reports\accounts\5bf27533-f3c0-40d5-9102-43b50483556b.json
Processed: 5bf27533-f3c0-40d5-9102-43b50483556b.json
Processing file: bulk-reports\accounts\5df5a22d-bfa0-4eb7-924e-4e8a1e80c999.json
Processed: 5df5a22d-bfa0-4eb7-924e-4e8a1e80c999.json
Processing file: bulk-reports\accounts\6d36aa63-e1c2-4a1e-bb7d-7c7acd8f9a36.json
Processed: 6d36aa63-e1c2-4a1e-bb7d-7c7acd8f9a36.json
Processing file: bulk-reports\accounts\6f5d9bbd-b744-49bf-9e6d-76375e9b7d2c.json
Processed: 6f5d9bbd-b744-49bf-9e6d-76375e9b7d2c.json
Processing file: bulk-reports\accounts\7012e968-f7ea-4dbe-9a41-ffd3f580743c.json
Processed: 7012e968-f7ea-4dbe-9a41-ffd3f580743c.json
Processing file: bulk-reports\accounts\705eff31-d65d-4a84-94f3-e3dd5155c48e.json
Processed: 705eff31-d65d-4a84-94f3-e3dd5155c48e.json
Processing file: bulk-reports\accounts\70d3fa2d-2776-456d-b7c0-86d6f5cfd732.json
Processed: 70d3fa2d-2776-456d-b7c0-86d6f5cfd732.json
Processing file: bulk-reports\accounts\73ff65a0-e0d0-444b-8246-2331b2d51d5d.json
Processed: 73ff65a0-e0d0-444b-8246-2331b2d51d5d.json
Processing file: bulk-reports\accounts\77c58637-f1f4-4d0f-9934-e4d3e0a07ed3.json
Processed: 77c58637-f1f4-4d0f-9934-e4d3e0a07ed3.json
Processing file: bulk-reports\accounts\84b111a6-2747-441e-9db9-2d695bea8bab.json
Processed: 84b111a6-2747-441e-9db9-2d695bea8bab.json
Processing file: bulk-reports\accounts\857fe2ba-2bc1-46cf-bb4d-2f51415e270d.json
Processed: 857fe2ba-2bc1-46cf-bb4d-2f51415e270d.json
Processing file: bulk-reports\accounts\861e51b8-41db-4b5c-ac7d-8f4d39b950b2.json
Processed: 861e51b8-41db-4b5c-ac7d-8f4d39b950b2.json
Processing file: bulk-reports\accounts\8915b870-4f5b-4df8-80eb-ae2e25853837.json
Processed: 8915b870-4f5b-4df8-80eb-ae2e25853837.json
Processing file: bulk-reports\accounts\8a7cd396-4de6-4ca1-af38-4fcdc731a7e4.json
Processed: 8a7cd396-4de6-4ca1-af38-4fcdc731a7e4.json
Processing file: bulk-reports\accounts\94653263-3ba4-4bdb-bc9a-8e9159dac322.json
Processed: 94653263-3ba4-4bdb-bc9a-8e9159dac322.json
Processing file: bulk-reports\accounts\94b9c02e-1c09-479d-abfd-fad446dfdb60.json
Processed: 94b9c02e-1c09-479d-abfd-fad446dfdb60.json
Processing file: bulk-reports\accounts\979dfe0c-5374-48ee-80eb-7c4ef3143d78.json
Processed: 979dfe0c-5374-48ee-80eb-7c4ef3143d78.json
Processing file: bulk-reports\accounts\9e2dd9e0-ec9e-4739-8790-d435ab1306cc.json
Processed: 9e2dd9e0-ec9e-4739-8790-d435ab1306cc.json
Processing file: bulk-reports\accounts\9e2ddc56-d2d8-4af1-a6b2-e1552dad7c9a.json
Processed: 9e2ddc56-d2d8-4af1-a6b2-e1552dad7c9a.json
Processing file: bulk-reports\accounts\a1e1e160-7de6-4e1a-b428-79ea2f765d57.json
Processed: a1e1e160-7de6-4e1a-b428-79ea2f765d57.json
Processing file: bulk-reports\accounts\a5e12dd1-44a8-4da2-996e-284967eca57d.json
Processed: a5e12dd1-44a8-4da2-996e-284967eca57d.json
Processing file: bulk-reports\accounts\ab5a2fe6-f2c9-42a2-91eb-e20f2ca8e789.json
Processed: ab5a2fe6-f2c9-42a2-91eb-e20f2ca8e789.json
Processing file: bulk-reports\accounts\b4bf1fe4-830e-4b61-ac24-95c353f76bb2.json
Processed: b4bf1fe4-830e-4b61-ac24-95c353f76bb2.json
Processing file: bulk-reports\accounts\b7890398-0a94-489d-b3db-3f9fb0b205e1.json
Processed: b7890398-0a94-489d-b3db-3f9fb0b205e1.json
Processing file: bulk-reports\accounts\b80e7284-adcb-4442-93ed-66d2e9e74431.json
Processed: b80e7284-adcb-4442-93ed-66d2e9e74431.json
Processing file: bulk-reports\accounts\bf8364fc-5cd1-4a0f-9dad-26e45b5ab6a7.json
Processed: bf8364fc-5cd1-4a0f-9dad-26e45b5ab6a7.json
Processing file: bulk-reports\accounts\bfcc1755-060b-49f0-8216-855b87182dc4.json
Processed: bfcc1755-060b-49f0-8216-855b87182dc4.json
Processing file: bulk-reports\accounts\c989b2d7-56e2-4a8b-ad88-521885e4b6c8.json
Processed: c989b2d7-56e2-4a8b-ad88-521885e4b6c8.json
Processing file: bulk-reports\accounts\cc005e8d-00cd-45c8-8a48-5fd5913341b4.json
Processed: cc005e8d-00cd-45c8-8a48-5fd5913341b4.json
Processing file: bulk-reports\accounts\d21f8721-a394-469d-beaa-a410a4a1874a.json
Processed: d21f8721-a394-469d-beaa-a410a4a1874a.json
Processing file: bulk-reports\accounts\d7188482-6047-4b06-8b4a-df450ef6193e.json
Processed: d7188482-6047-4b06-8b4a-df450ef6193e.json
Processing file: bulk-reports\accounts\db5217c0-a1c2-4b71-8080-106a2fbd2d44.json
Processed: db5217c0-a1c2-4b71-8080-106a2fbd2d44.json
Processing file: bulk-reports\accounts\e00c908a-d852-40f0-9bd1-a28151f9be66.json
Processed: e00c908a-d852-40f0-9bd1-a28151f9be66.json
Processing file: bulk-reports\accounts\e272d78d-4964-4157-b9f3-95f11796c77e.json
Processed: e272d78d-4964-4157-b9f3-95f11796c77e.json
Processing file: bulk-reports\accounts\e7c20761-8cb4-47f7-80be-34e3f94c569f.json
Processed: e7c20761-8cb4-47f7-80be-34e3f94c569f.json
Processing file: bulk-reports\accounts\e80aa250-a8af-4436-b0ec-27d1a1a1a11e.json
Processed: e80aa250-a8af-4436-b0ec-27d1a1a1a11e.json
Processing file: bulk-reports\accounts\ebec598b-00b5-4fad-87c8-092a5388b1c7.json
Processed: ebec598b-00b5-4fad-87c8-092a5388b1c7.json
Processing file: bulk-reports\accounts\eccf71a6-40ac-4a4b-841b-67c4752f0696.json
Processed: eccf71a6-40ac-4a4b-841b-67c4752f0696.json
Processing file: bulk-reports\accounts\f238cb0d-86a0-4749-b791-9a3dbc292980.json
Processed: f238cb0d-86a0-4749-b791-9a3dbc292980.json
Processing file: bulk-reports\accounts\f6ec5d42-0879-4ff5-9cb0-936b76b35379.json
Processed: f6ec5d42-0879-4ff5-9cb0-936b76b35379.json
Processing file: bulk-reports\accounts\fd4e1337-115e-40a3-8648-1d47acd2fe91.json
Processed: fd4e1337-115e-40a3-8648-1d47acd2fe91.json

,uuid,employmentstatus,userID,bankname
0,0110c686-c6a0-4250-8dc5-832256a24f3d,FT_EMPLOYED,193700.0,ABSA
1,02fb16d1-1937-4e4e-b01c-624f0930f49f,FT_EMPLOYED,464600.0,CAPITEC
2,04bb70b2-65d8-4b37-af87-507d58025153,FT_EMPLOYED,253700.0,FIRST_NATIONAL_BANK
3,086abd29-f9e3-4bfd-b7de-4a5795f5a4b8,FT_EMPLOYED,500700.0,ABSA
4,0f331b0b-f1a2-4e5d-8284-33ca9bf41254,FT_EMPLOYED,337200.0,CAPITEC

In [ ]:
# calling the report data function to process the files and retrieve specific data
#output is a list of dictionaries
report_summary = read_reports(report_folder)

# Convert to DataFrame for analysis
report_df = pd.DataFrame(report_summary)
report_df.head()

In [5]:
# Using left join to merge account_df with report_df
merged_df = pd.merge(report_df, account_df, on="uuid", how="left")

In [7]:
# Convert credit_score column to integer
merged_df['credit_score'] = merged_df['credit_score'].astype(int)

### Average Credit Score

In [8]:
# Step 1: Average Credit Score
average_credit_score = merged_df['credit_score'].mean()

average_credit_score

104.38193791157103

### Number of users grouped by Employment status

In [9]:
unique_users_by_employment_status = merged_df.groupby('employmentstatus')['uuid'].nunique()

unique_users_by_employment_status

employmentstatus
FT_EMPLOYED      30
PT_EMPLOYED       2
SELF_EMPLOYED     3
STUDENT           1
UNEMPLOYED        2
WORK_AT_HOME      1
Name: uuid, dtype: int64

### Number of Users in Credit Score Ranges

In [10]:
latest_reports = merged_df.sort_values(['uuid', 'year', 'month'], ascending=[True, False, False]).drop_duplicates('uuid')

# Define bins for score ranges (0-50, 51-100, ...)
score_bins = np.arange(0, latest_reports['credit_score'].max() + 51, 50)
score_labels = [f"{int(b)}-{int(b + 49)}" for b in score_bins[:-1]]

# Create score ranges
latest_reports['score_range'] = pd.cut(latest_reports['credit_score'], bins=score_bins, labels=score_labels, right=False)

latest_reports[['uuid', 'credit_score', 'score_range']]

                                      uuid  credit_score score_range
1418  0110c686-c6a0-4250-8dc5-832256a24f3d           577     550-599
1419  02fb16d1-1937-4e4e-b01c-624f0930f49f           595     550-599
1420  04bb70b2-65d8-4b37-af87-507d58025153           550     550-599
1421  086abd29-f9e3-4bfd-b7de-4a5795f5a4b8             0        0-49
1361  0f331b0b-f1a2-4e5d-8284-33ca9bf41254           644     600-649
1423  1bc25bc6-9a63-4ea7-ab83-fb764399da7b           564     550-599
1424  1c609037-24c4-4d16-b0e6-db030039234d           665     650-699
1425  336b9f63-aa33-4a4c-886e-3f7211ae9137             0        0-49
1426  3da8c835-1ee2-41df-8d92-60c8f638ea5a           670     650-699
1427  3dc87c55-fce3-4a36-b3fd-f96d79710cca           523     500-549
1430  405e0215-a0db-4425-8f6c-2df5a0a003df           627     600-649
1371  4d14f02f-836e-4fad-9889-cf0eb67e7709           576     550-599
1372  4db76b39-e949-472b-a653-dbd80ffc0eac           693     650-699
1377  6d36aa63-e1c2-4a1e-bb7d-7c7acd8f9a36           674     650-699
1439  6f5d9bbd-b744-49bf-9e6d-76375e9b7d2c           669     650-699
1443  73ff65a0-e0d0-444b-8246-2331b2d51d5d           658     650-699
1445  84b111a6-2747-441e-9db9-2d695bea8bab             0        0-49
1446  857fe2ba-2bc1-46cf-bb4d-2f51415e270d           693     650-699
1447  861e51b8-41db-4b5c-ac7d-8f4d39b950b2           662     650-699
1448  8915b870-4f5b-4df8-80eb-ae2e25853837           544     500-549
1449  8a7cd396-4de6-4ca1-af38-4fcdc731a7e4             0        0-49
1450  94653263-3ba4-4bdb-bc9a-8e9159dac322           680     650-699
1452  979dfe0c-5374-48ee-80eb-7c4ef3143d78           627     600-649
1455  a1e1e160-7de6-4e1a-b428-79ea2f765d57           542     500-549
924   ab5a2fe6-f2c9-42a2-91eb-e20f2ca8e789           591     550-599
1459  b7890398-0a94-489d-b3db-3f9fb0b205e1           545     500-549
1460  b80e7284-adcb-4442-93ed-66d2e9e74431           621     600-649
1462  bfcc1755-060b-49f0-8216-855b87182dc4           521     500-549
1403  c989b2d7-56e2-4a8b-ad88-521885e4b6c8           571     550-599
1465  d21f8721-a394-469d-beaa-a410a4a1874a           640     600-649
1466  d7188482-6047-4b06-8b4a-df450ef6193e           494     450-499
1467  db5217c0-a1c2-4b71-8080-106a2fbd2d44           519     500-549
1469  e272d78d-4964-4157-b9f3-95f11796c77e           689     650-699
1470  e7c20761-8cb4-47f7-80be-34e3f94c569f           569     550-599
939   ebec598b-00b5-4fad-87c8-092a5388b1c7           602     600-649
1473  eccf71a6-40ac-4a4b-841b-67c4752f0696           585     550-599
1474  f238cb0d-86a0-4749-b791-9a3dbc292980           656     650-699
1475  f6ec5d42-0879-4ff5-9cb0-936b76b35379           583     550-599
1476  fd4e1337-115e-40a3-8648-1d47acd2fe91           568     550-599
2067                                  None             0        0-49

### Latest credit report data for each user

In [11]:
bank_data = latest_reports[['uuid', 'employmentstatus', 'bankname', 'active_bank_accounts', 'total_outstanding_balance']]

bank_data.head()

,uuid,employmentstatus,bankname,active_bank_accounts,total_outstanding_balance
1418,0110c686-c6a0-4250-8dc5-832256a24f3d,FT_EMPLOYED,ABSA,1,28464
1419,02fb16d1-1937-4e4e-b01c-624f0930f49f,FT_EMPLOYED,CAPITEC,0,0
1420,04bb70b2-65d8-4b37-af87-507d58025153,FT_EMPLOYED,FIRST_NATIONAL_BANK,0,0
1421,086abd29-f9e3-4bfd-b7de-4a5795f5a4b8,FT_EMPLOYED,ABSA,2,27659
1361,0f331b0b-f1a2-4e5d-8284-33ca9bf41254,FT_EMPLOYED,CAPITEC,1,2762

### Export the result as csv

In [12]:
output_folder = "output"
output_file = "bank_data.csv"

# Export the DataFrame to CSV
output_path = os.path.join(output_folder, output_file)
bank_data.to_csv(output_path, index=False)

print(f"CSV file saved successfully at: {output_path}")

CSV file saved successfully at: output\bank_data.csv